{% extends 'portfolio/base.html' %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Мои пуки</h1>

<h3 class="text-center mb-5">Количество пуков в пустоту: {{ count }}</h3>

{% for post in page_obj %}
<div class="row justify-content-center my-3">
    <div class="col-md-10">
        <a href="{% url 'blog:detail' post.id %}">
            <h2>{{ post.title }}</h2>
        </a>
        <h5 class="text-muted">{{ post.date |date:'d M Y' }}</h5>
        <h4>{{ post.description|safe|truncatechars:100 }}</h4>
    </div>
</div>
{% endfor %}
<div>
    <nav aria-label="Paginatooor">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" >{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}